body {
	background-image: url('./images/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
nav {
	background-color: black;
	text-align: center;
}
nav a {
	color: white;
	font-size: 35px;
}
